<link rel="stylesheet" type="text/css" href="/css/bonito_form.css">
<div id="logar">

	<form action="/admin/logar" method="POST">
		<h3>Logando como Admin</h3>
		<hr>

		<input type="text" placeholder="Nome de Usuario" name="admin_name" id="admin_name">
		<br>

		<input type="password" placeholder="Senha de Admin" name="admin_pass" id="admin_pass">
		<br>

		<input type="submit" value="Logar">
	</form>
</div>