<header>
<div id="navbars">
	<nav>
		<ul>
			<li> <a href="/animes">Animes</a> </li>
			<li> <a href="/filmes">Filmes</a> </li>
			<li> <a href="/manga">Mangás</a> </li>
			<!--sim, isso é uma referencia a manga(a fruta)-->
		</ul>
	</nav>
	<div id="search">
		<input type="text" placeholder="Pesquisar o qué?" id="pesquisa" name="pesquisa">
		<input type="button" value="Pesquisar">
	</div>
	
</div>
</header>