<link rel="stylesheet" type="text/css" href="css/firt.css">
<section>

	<h1><b>AnimeFlix</b></h1>
	<hr>
	<a href="/populares">
		<button>
			Entrar no Site
		</button>
	</a>
	<br>
	<a href="/admin">
		<button>
			Login como Admin
		</button>
	</a>

</section>