<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>AnimeStore</title>
	<link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
	{{>_navbar}}

	{{{body}}}
</body>
<script src="/javascript/teste.js"></script>
</html>